.h1,
.h2,
.h3 {
  margin: 0;
  font-family: $secondaryFontFamily, sans-serif;
}

.h1 {
  color: $white;
  font-weight: 400;
  font-size: 12vw;
  line-height: lh(38, 35);
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $lg) {
    font-size: 10vw;
  }

  @media (min-width: $xl) {
    font-size: 8vw;
  }

  @media (min-width: rem(1920)) {
    font-size: rem(170);
  }
}

.h2 {
  margin-bottom: rem(45);
  font-weight: 400;
  font-size: rem(40);
  line-height: lh(40, 40);

  @media (min-width: $md) {
    margin-bottom: rem(70);
    font-size: rem(60);
  }
}

.h3 {
  margin-bottom: rem(15);
  font-size: rem(28);
  line-height: 1.2;

  @media (min-width: $sm) {
    font-size: rem(36);
  }
}
