@use '../base/functions' as *;
@use '../base/variables' as *;

.header {
  &__nav {
    top: rem(76);
    padding-top: rem(20);

    @media (min-width: $sm) {
      top: rem(103);
    }

    @media (max-width: rem(1023.98)) {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      display: none;
      overflow-y: auto;
      text-align: center;
      background-color: $primaryColor;

      &::-webkit-scrollbar {
        width: rem(6);
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 30%);
      }

      &::-webkit-scrollbar-thumb {
        background-color: $brown;
      }

      & .nav__item {
        border-bottom: 1px solid $white;
      }

      & .nav__link {
        padding-top: rem(23);
        padding-bottom: rem(20);
      }

      &.nav_active {
        display: block;
      }
    }
  }
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;

    @media (min-width: $lg) {
      flex-flow: row wrap;
      justify-content: center;
      height: initial;
      margin-top: 0;
    }
  }

  &__link {
    display: inline-block;
    padding: 0 rem(15);
    padding-top: rem(10);
    padding-bottom: rem(10);
    font-size: rem(24);
    font-family: $secondaryFontFamily;
    line-height: 1.2;
    text-transform: uppercase;
    transition: color $transition;

    @media (min-width: $lg) {
      font-size: rem(20);
    }

    @media (min-width: rem(1200)) {
      padding: 0 rem(20);
    }

    @media (hover: hover) {
      &:hover {
        color: $white;
      }
    }
  }
}

.disable-scroll .header {
  background-color: $primaryColor;
}
