<section class="subscribe">
  <div class="container overlay">
    <div class="subscribe__content-wrapper">
      <h2 class="subscribe__title h2">Get weekly inspiration and expert advice</h2>
  
      <form action="#" class="subscribe__form">
        <label for="subscribe-input">Sign up for our Weekly Newsletter</label>
        <input type="text" id="subscribe-input" placeholder="Email address">
        <button class="subscribe__form-btn btn-primary" type="submit">Subscribe</button>
      </form> 
    </div>
  </div>
</section>