@use '../base/functions' as *;
@use '../base/variables' as *;

.contact {
  .container {
    position: relative;

    &::before {
      position: absolute;
      top: rem(-10);
      right: rem(30);
      left: rem(30);
      z-index: -1;
      height: calc(100% + 20px);
      margin: 0 auto;
      border: 1px solid $white;
      border-radius: $radius;
      content: '';
    }
  }

  &__wrapper {
    padding: rem(60) rem(15);
    border: 1px solid $white;
    border-radius: $radius;
    backdrop-filter: blur(4px);

    @media (min-width: $md) {
      padding: rem(80) rem(15);
    }
  }

  // .contact__title

  &__title {
    text-align: center;
  }

  // .contact__form

  &__form {
    border-radius: $radius;

    input {
      width: 100%;
      margin-bottom: rem(20);
      padding: rem(17) rem(15) rem(18);
      background-color: transparent;
      border: 1px solid $white;
      border-radius: rem(50);

      &::placeholder {
        text-align: center;
      }
    }
  }

  &__form-inner {
    max-width: rem(350);
    margin: 0 auto;
  }

  &__btn {
    width: 100%;
    color: $white;
  }
}
