.customize-trip {
  padding-bottom: rem(350);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;

  // .customize-trip__title

  &__title {
    max-width: rem(540);
    text-align: center;
    margin-inline: auto;
  }

  // .customize-trip__item

  &__item {
    display: grid;
    grid-template-columns: 20% 1fr;
    max-width: rem(540);
    margin-inline: auto;

    &:not(:last-child) {
      margin-bottom: rem(60);
    }
  }

  // .customize-trip__num

  &__num {
    display: flex;
    align-items: center;
    padding-left: rem(15);
    font-size: rem(50);
    font-family: $secondaryFontFamily;

    @media (min-width: $md) {
      font-size: rem(70);
    }
  }

  &__footer {
    max-width: rem(540);
    margin-inline: auto;
  }

  // .customize-trip__btn

  &__btn {
    margin-bottom: rem(10);
    color: $white;
  }

  // .customize-trip__remark

  &__remark {
    text-align: center;
  }
}
