@use '../base/functions' as *;
@use '../base/variables' as *;

.header {
  position: absolute;
  z-index: 3;
  width: 100%;
  padding-block: rem(10);

  @media (min-width: $sm) {
    padding-block: rem(20);
  }

  // .header__row

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(15);
  }

  &__item {
    @media (max-width: rem(1023.98)) {
      width: 33.3333%;
    }
  }

  // .header__logo

  &__logo {
    z-index: 3;
    order: 2;

    img {
      max-width: rem(88);
      margin: 0 auto;

      @media (min-width: $sm) {
        max-width: initial;
      }
    }

    @media (min-width: $lg) {
      order: initial;

      img {
        margin: 0;
      }
    }
  }

  // .header__btn

  &__btn {
    z-index: 3;
    display: flex;
    align-items: center;
    order: 1;
    padding-right: rem(10);

    @media (min-width: $lg) {
      order: initial;
      padding-right: 0;
    }

    span {
      padding-top: 0;
      font-size: rem(12);

      @media (min-width: $sm) {
        font-size: rem(16);
      }
    }
  }

  &__burger {
    order: 3;
  }
}
