.lux-main-section {
  position: relative;
  margin-bottom: rem(150);
  padding-top: rem(150);

  // .lux-main-section__wrapper

  &__wrapper {
    position: relative;
    padding-top: 40%;
    overflow: hidden;
    border-radius: $radius;
  }

  // .lux-main-section__img

  &__img {
    img {
      position: absolute;
      height: 100%;
      object-fit: cover;
      object-position: center;
      inset: 0;
    }
  }

  // .lux-main-section__text-row

  &__text-row {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: rem(30);
    padding-bottom: rem(70);
    color: $white;
  }

  // .lux-main-section__title

  &__title {
  }

  // .lux-main-section__customize-wrapper

  &__customize-wrapper {
  }

  // .lux-main-section__customize-price

  &__customize-price {
  }

  // .lux-main-section__customize-btn

  &__customize-btn {
  }

  // .lux-main-section__btn

  &__btn {
    position: absolute;
    bottom: rem(-50);
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);

    & span {
      padding-top: rem(12);
    }
  }
}
