<section class="book-with-us section">
  <div class="container">
    <h2 class="book-with-us__title h2">Book With Us</h2>

    <div class="book-with-us__row">
      <a href="#" class="book-with-us__item book-card-img">
        <img src="images/book-cards/book-card-img-1.jpg" width="540" height="190" alt="book">
        <div class="book-card-img__title">Supercars</div>
      </a>

      <a href="#" class="book-with-us__item book-card-img">
        <img src="images/book-cards/book-card-img-2.jpg" width="540" height="190" alt="book">
        <div class="book-card-img__title">Hotels</div>
      </a>

      <a href="#" class="book-with-us__item book-card-img">
        <img src="images/book-cards/book-card-img-3.jpg" width="540" height="190" alt="book">
        <div class="book-card-img__title">Villas</div>
      </a>

      <a href="#" class="book-with-us__item book-card-img">
        <img src="images/book-cards/book-card-img-4.jpg" width="540" height="190" alt="book">
        <div class="book-card-img__title">Yachts</div>
      </a>

      <a href="#" class="book-with-us__item book-card-img">
        <img src="images/book-cards/book-card-img-5.jpg" width="540" height="190" alt="book">
        <div class="book-card-img__title">Private Helicopter</div>
      </a>

      <a href="#" class="book-with-us__item book-card-img">
        <img src="images/book-cards/book-card-img-6.jpg" width="540" height="190" alt="book">
        <div class="book-card-img__title">Private Jet</div>
      </a>
    </div>
  </div>
</section>