<section class="luxury section">
  <div class="container">
    <div class="luxury__video">
      <video class="luxury__video-content lazy" autoplay muted loop>
        <source src="video/luxury-bg.svg" data-src="video/luxury-bg.mp4" type="video/mp4">
      </video>
    </div>

    <div class="luxury__heading-wrapper">
      <h2 class="luxury__title h2">Luxury Packages</h2>
      <a href="#" class="luxury__btn btn-primary">view all</a>
    </div>

    <div class="luxury__swiper swiper">
      <div class="luxury__grid swiper-wrapper">
        <a href="#" class="luxury-card swiper-slide">
          <img src="images/luxury-cards/luxury-card-1.jpg" alt="luxury place" width="350" height="520" class="luxury-card__img">
          <div class="luxury-card__title">New destinations for 2022</div>
          <div class="luxury-card__places">
            <span class="luxury-card__places-nums">47</span>
            <span>places</span>
            <span>&#8594;</span>
          </div>
        </a>
  
        <a href="#" class="luxury-card swiper-slide">
          <img src="images/luxury-cards/luxury-card-2.jpg" alt="luxury place" width="350" height="520" class="luxury-card__img">
          <div class="luxury-card__title">Best Winter Destinations</div>
          <div class="luxury-card__places">
            <span class="luxury-card__places-nums">47</span>
            <span>places</span>
            <span>&#8594;</span>
          </div>
        </a>
  
        <a href="#" class="luxury-card swiper-slide">
          <img src="images/luxury-cards/luxury-card-3.jpg" alt="luxury place" width="350" height="520" class="luxury-card__img">
          <div class="luxury-card__title">The world's most extraordinary places</div>
          <div class="luxury-card__places">
            <span class="luxury-card__places-nums">47</span>
            <span>places</span>
            <span>&#8594;</span>
          </div>
        </a>
  
        <a href="#" class="luxury-card swiper-slide">
          <img src="images/luxury-cards/luxury-card-4.jpg" alt="luxury place" width="350" height="520" class="luxury-card__img">
          <div class="luxury-card__title">Your health is matter</div>
          <div class="luxury-card__places">
            <span class="luxury-card__places-nums">47</span>
            <span>places</span>
            <span>&#8594;</span>
          </div>
        </a>
  
        <a href="#" class="luxury-card swiper-slide">
          <img src="images/luxury-cards/luxury-card-5.jpg" alt="luxury place" width="350" height="520" class="luxury-card__img">
          <div class="luxury-card__title">Experiences Away From Crowd</div>
          <div class="luxury-card__places">
            <span class="luxury-card__places-nums">47</span>
            <span>places</span>
            <span>&#8594;</span>
          </div>
        </a>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>