<section class="main-block">
  <div class="main-block__title-wrapper">
    <h1 class="main-block__title h1" data-speed="0.5">extra ordinary places</h1>
  </div>

  <div class="main-block__imgs">
    <picture>
      <source srcset="images/main-block/main-block-sky-1440.jpg" media="(min-width: 1440px)"/>
      <source srcset="images/main-block/main-block-sky-1024.jpg" media="(min-width: 1024px)"/>
      <source srcset="images/main-block/main-block-sky-768.jpg" media="(min-width: 768px)"/>
      <source srcset="images/main-block/main-block-sky-568.jpg" media="(min-width: 568px)"/>
      <source srcset="images/main-block/main-block-sky-428.jpg" media="(min-width: 428px)"/>
      <img class="main-block__img main-block__img-sky" src="images/main-block/main-block-sky-sm.jpg" alt="nature" data-speed="0.3"/>
    </picture>

    <picture>
      <source srcset="images/main-block/main-block-1-1440.png" media="(min-width: 1440px)"/>
      <source srcset="images/main-block/main-block-1-1024.png" media="(min-width: 1024px)"/>
      <source srcset="images/main-block/main-block-1-768.png" media="(min-width: 768px)"/>
      <source srcset="images/main-block/main-block-1-568.png" media="(min-width: 568px)"/>
      <source srcset="images/main-block/main-block-1-428.png" media="(min-width: 428px)"/>
      <img class="main-block__img main-block__img-1" src="images/main-block/main-block-1-sm.png" alt="nature" data-speed="0.5"/>
    </picture>

    <picture>
      <source srcset="images/main-block/main-block-2-1440.png" media="(min-width: 1440px)"/>
      <source srcset="images/main-block/main-block-2-1024.png" media="(min-width: 1024px)"/>
      <source srcset="images/main-block/main-block-2-768.png" media="(min-width: 768px)"/>
      <source srcset="images/main-block/main-block-2-568.png" media="(min-width: 568px)"/>
      <source srcset="images/main-block/main-block-2-428.png" media="(min-width: 428px)"/>
      <img class="main-block__img main-block__img-2" src="images/main-block/main-block-2-sm.png" alt="nature" data-speed="0.4"/>
    </picture>

    <picture>
      <source srcset="images/main-block/main-block-3-1440.png" media="(min-width: 1440px)"/>
      <source srcset="images/main-block/main-block-3-1024.png" media="(min-width: 1024px)"/>
      <source srcset="images/main-block/main-block-3-768.png" media="(min-width: 768px)"/>
      <source srcset="images/main-block/main-block-3-568.png" media="(min-width: 568px)"/>
      <source srcset="images/main-block/main-block-3-428.png" media="(min-width: 428px)"/>
      <img class="main-block__img main-block__img-3" src="images/main-block/main-block-3-sm.png" alt="nature" data-speed="0.1"/>
    </picture>
  </div>
</section>
