<section class="top-raited">
  <div class="container">
    <h2 class="top-raited__title h2">Top Rated Experiences</h2>

    <div class="tabs" data-tabs>
      <button class="tabs__btn" data-active>World</button>
      <button class="tabs__btn">Africa</button>
      <button class="tabs__btn">Asia</button>
      <button class="tabs__btn">Europe</button>
      <button class="tabs__btn">North America</button>
      <button class="tabs__btn">South America</button>
      <button class="tabs__btn">Antarctica</button>
      <button class="tabs__btn">Australia</button>
    </div>
    <div class="tabs-content" data-panes>
      <div class="tabs-content__item">
        <div class="top-raited__swiper swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-1.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="swiper-slide place-card">
                <img src="images/place-cards/place-card-2.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-3.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-4.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
          </div>
    
          <div class="swiper-pagination"></div>
        </div> 
      </div>
      <div class="tabs-content__item">
        <div class="top-raited__swiper swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-5.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="swiper-slide place-card">
                <img src="images/place-cards/place-card-6.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-7.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-8.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
          </div>
    
          <div class="swiper-pagination"></div>
        </div> 
      </div>
      <div class="tabs-content__item">
        <div class="top-raited__swiper swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-9.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="swiper-slide place-card">
                <img src="images/place-cards/place-card-10.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-11.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-12.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
          </div>
    
          <div class="swiper-pagination"></div>
        </div> 
      </div>
      <div class="tabs-content__item">
        <div class="top-raited__swiper swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-1.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="swiper-slide place-card">
                <img src="images/place-cards/place-card-2.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-3.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-4.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
          </div>
    
          <div class="swiper-pagination"></div>
        </div> 
      </div>
      <div class="tabs-content__item">
        <div class="top-raited__swiper swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-5.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="swiper-slide place-card">
                <img src="images/place-cards/place-card-6.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-7.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-8.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
          </div>
    
          <div class="swiper-pagination"></div>
        </div> 
      </div>
      <div class="tabs-content__item">
        <div class="top-raited__swiper swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-9.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="swiper-slide place-card">
                <img src="images/place-cards/place-card-10.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-11.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-12.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
          </div>
    
          <div class="swiper-pagination"></div>
        </div> 
      </div>
      <div class="tabs-content__item">
        <div class="top-raited__swiper swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-1.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="swiper-slide place-card">
                <img src="images/place-cards/place-card-2.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-3.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-4.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
          </div>
    
          <div class="swiper-pagination"></div>
        </div> 
      </div>
      <div class="tabs-content__item">
        <div class="top-raited__swiper swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-9.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="swiper-slide place-card">
                <img src="images/place-cards/place-card-10.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-11.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
    
            <div class="swiper-slide">
              <a href="#" class="place-card">
                <img src="images/place-cards/place-card-12.jpg" alt="pace" class="place-card__img">
                <div class="place-card__info">
                  <div class="place-card__info-country">Austria</div>
                  <div class="place-card__info-title">Winter Park Ski Holiday</div>
                  <div class="place-card__info-price-wrapper">
                    <span class="place-card__info-price-from">From</span>
                    <span class="place-card__info-price">1490 EUR</span>
                  </div>
                  <div class="place-card__info-rating">5.0</div>
                </div>
              </a>
            </div>
          </div>
    
          <div class="swiper-pagination"></div>
        </div> 
      </div>
    </div>
  </div>
</section>
