<section class="why section">
  <div class="why__container">
    <div class="why__heading">
      <h2 class="why__heading-title h2">Why Lux Trips</h2>
      <p class="why__heading-text">As Travel Designer, we know the ins and outs of travel from who to work with, where to go, when to book, and which restaurant provides the most authentic cuisine.</p>
    </div>

    <div class="why__bg">
      <div class="why__bg-inner">
        <img src="images/why/why-bg.jpg" width="1720" height="988" alt="nature">
      </div>
    </div>

    <div class="container">
      <div class="why__img-wrapper">
        <div class="why__img-left">
          <img src="images/why/why-left.jpg" width="350" height="532" alt="people">
        </div>
        <div class="why__img-right">
          <img src="images/why/why-right.jpg" width="350" height="532"  alt="people">
        </div>
      </div>
    </div>

    <div class="why__middle">
      <p class="why__middle-text_big">Exclusive knowledge to provide the best of the best to clients</p>
      <p class="why__middle-text">Our area of expertise ranges from luxury resorts and villas/chalets holiday bookings, private yacht and jet charters, to exclusive tours and personalized journey planning. lore</p>
    </div>

    <div class="why__footer">
      <div class="why__footer-img">
        <img src="images/why/why-footer.jpg" width="550" height="900" alt="people">
      </div>
      <div class="why__footer-desc">
        <div class="why__footer-desc-text">We craft and plan unique itineraries tailored to customers interests and with strong attention to detail.</div>
        <a href="#" class="why__footer-desc-btn btn-primary">help me plan a trip</a>
      </div>
    </div>
  </div>
</section>